.c-passwordform{
  background-color: $color-base;
  border: 1px solid $color-acc;
  border-radius: 5px;
  height: 40px;
  color: $color-sub;
  font-family: $font-alphabet, $font-default, $font-jap;
  box-sizing: border-box;
  font-size: $fontsize-sm;
  padding: $space-xxs 30px $space-xxs $space-xs;
  &:focus{
    border: 2px solid $color-sub;
    outline: 0;
  }
  &::-webkit-input-placeholder{
    color: $color-acc;
    font-family: $font-alphabet, $font-jap, $font-default;
  }
  &:-moz-placeholder{
    color: $color-acc;
    font-family: $font-alphabet, $font-jap, $font-default;
  }
  &::-moz-placeholder{
    color: $color-acc;
    font-family: $font-alphabet, $font-jap, $font-default;
  }
  &:-ms-input-placeholder{
    color: $color-acc;
    font-family: $font-alphabet, $font-jap, $font-default;
  }
}