body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0; }

body {
  background-color: #e2dbbd;
  position: relative;
  color: #8d001d;
  font-family: "PT Sans", "Zen Kaku Gothic Antique", sans-serif; }

ul {
  padding-left: 0;
  list-style: none;
  margin: 0; }

a {
  text-decoration: none; }

textarea {
  resize: vertical; }

.l-col1-form {
  width: 50%;
  margin-left: auto;
  margin-right: auto; }
  @media screen and (max-width: 1366px) {
    .l-col1-form {
      max-width: 492px; } }
  @media screen and (max-width: 768px) {
    .l-col1-form {
      min-width: 361px; } }
  @media screen and (max-width: 540px) {
    .l-col1-form {
      width: 100%;
      min-width: initial; } }
  .l-col1-form__page-title {
    padding-left: 13%;
    padding-right: 13%;
    margin-bottom: 30px; }

.l-col1 {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  padding: 8% 7%; }
  @media screen and (max-width: 1366px) {
    .l-col1 {
      width: 80%; } }
  @media screen and (max-width: 768px) {
    .l-col1 {
      width: 85%; } }
  @media screen and (max-width: 540px) {
    .l-col1 {
      width: 100%; } }
  .l-col1__page-title {
    margin-bottom: 30px; }
  .l-col1__text {
    text-align: center; }
  .l-col1__btn {
    margin-top: 30px; }

.l-col2 {
  display: flex;
  flex-wrap: wrap; }
  @media screen and (max-width: 1366px) {
    .l-col2 {
      justify-content: center; } }
  @media screen and (max-width: 768px) {
    .l-col2 {
      justify-content: center; } }

.l-container {
  width: 980px;
  margin-left: auto;
  margin-right: auto;
  padding-top: calc(80px + 50px);
  padding-bottom: 80px;
  position: relative; }
  @media screen and (max-width: 1366px) {
    .l-container {
      width: 100%;
      padding-left: 2%;
      padding-right: 2%;
      box-sizing: border-box;
      padding-top: calc(60px + 50px);
      padding-bottom: 50px; } }
  @media screen and (max-width: 768px) {
    .l-container {
      width: 100%;
      padding-left: 3%;
      padding-right: 3%;
      box-sizing: border-box;
      padding-top: calc(60px + 50px);
      padding-bottom: 50px; } }
  @media screen and (max-width: 540px) {
    .l-container {
      width: 100%;
      padding-left: 5%;
      padding-right: 5%;
      box-sizing: border-box;
      padding-top: calc(60px + 50px);
      padding-bottom: 50px; } }

.l-footer {
  height: 40px;
  width: 100%;
  background-color: #8d001d;
  box-shadow: 0 -1px 15px #759488; }
  .l-footer__inner {
    width: 980px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; }
    @media screen and (max-width: 1366px) {
      .l-footer__inner {
        width: 100%; } }
    @media screen and (max-width: 768px) {
      .l-footer__inner {
        width: 100%; } }
    @media screen and (max-width: 540px) {
      .l-footer__inner {
        width: 100%; } }
  .l-footer__text {
    color: #e2dbbd; }

.l-header {
  height: 80px;
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 2;
  background-color: #8d001d;
  box-shadow: 0 1px 15px #759488; }
  @media screen and (max-width: 1366px) {
    .l-header {
      height: 60px; } }
  @media screen and (max-width: 768px) {
    .l-header {
      height: 60px; } }
  @media screen and (max-width: 540px) {
    .l-header {
      height: 60px; } }
  .l-header__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 980px;
    margin-left: auto;
    margin-right: auto; }
    @media screen and (max-width: 1366px) {
      .l-header__inner {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px; } }
    @media screen and (max-width: 768px) {
      .l-header__inner {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px; } }
    @media screen and (max-width: 540px) {
      .l-header__inner {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px; } }
  .l-header__logo-link {
    color: #e2dbbd; }
  .l-header__push-wrapper {
    display: none;
    height: 30px;
    width: 40px;
    position: relative;
    z-index: 3; }
    .l-header__push-wrapper span {
      width: 100%;
      height: 3px;
      background-color: #e2dbbd;
      position: absolute;
      transition: all .5s;
      display: inline-block; }
      .l-header__push-wrapper span:nth-of-type(1) {
        top: 0; }
      .l-header__push-wrapper span:nth-of-type(2) {
        top: 13.5px; }
      .l-header__push-wrapper span:nth-of-type(3) {
        bottom: 0; }
    @media screen and (max-width: 1366px) {
      .l-header__push-wrapper {
        display: inline-block; } }
    @media screen and (max-width: 768px) {
      .l-header__push-wrapper {
        display: inline-block; } }
    @media screen and (max-width: 540px) {
      .l-header__push-wrapper {
        display: inline-block; } }
    .l-header__push-wrapper.js-active span {
      transition: all .5s; }
      .l-header__push-wrapper.js-active span:nth-of-type(1) {
        transform: translateY(13.5px) rotate(-45deg); }
      .l-header__push-wrapper.js-active span:nth-of-type(2) {
        opacity: 0; }
      .l-header__push-wrapper.js-active span:nth-of-type(3) {
        transform: translateY(-13.5px) rotate(45deg); }
  @media screen and (max-width: 1366px) {
    .l-header__nav {
      position: absolute;
      top: 0;
      right: -100%;
      transition: all .5s;
      width: 100%;
      height: 100vh;
      padding-top: 100px;
      background-color: #8d001d; } }
  @media screen and (max-width: 768px) {
    .l-header__nav {
      position: absolute;
      top: 0;
      right: -100%;
      transition: all .5s;
      width: 100%;
      height: 100vh;
      padding-top: 100px;
      background-color: #8d001d; } }
  @media screen and (max-width: 540px) {
    .l-header__nav {
      position: absolute;
      top: 0;
      right: -100%;
      transition: all .5s;
      width: 100%;
      height: 100vh;
      padding-top: 100px;
      background-color: #8d001d; } }
  .l-header__nav.js-active {
    transform: translateX(-100%); }
  .l-header__main {
    display: flex;
    flex-wrap: wrap;
    margin-right: -20px; }
    @media screen and (max-width: 1366px) {
      .l-header__main {
        display: block; } }
    @media screen and (max-width: 768px) {
      .l-header__main {
        display: block; } }
    @media screen and (max-width: 540px) {
      .l-header__main {
        display: block; } }
  .l-header__menu {
    margin-right: 20px; }
  .l-header__menu-link {
    color: #e2dbbd; }
    .l-header__menu-link:hover {
      text-decoration: underline; }
    @media screen and (max-width: 1366px) {
      .l-header__menu-link {
        display: block;
        padding: 15px;
        text-align: center; } }
    @media screen and (max-width: 768px) {
      .l-header__menu-link {
        display: block;
        padding: 15px;
        text-align: center; } }
    @media screen and (max-width: 540px) {
      .l-header__menu-link {
        display: block;
        padding: 15px;
        text-align: center; } }

.l-main {
  width: 74%;
  box-sizing: border-box;
  padding-right: 1%; }
  @media screen and (max-width: 1366px) {
    .l-main {
      width: 100%;
      margin-bottom: 30px;
      padding-right: 0; } }
  @media screen and (max-width: 768px) {
    .l-main {
      width: 100%;
      margin-bottom: 30px;
      padding-right: 0; } }
  @media screen and (max-width: 540px) {
    .l-main {
      width: 100%;
      margin-bottom: 30px;
      padding-right: 0; } }
  .l-main__page-title {
    margin-bottom: 30px; }
  .l-main__search-result {
    margin-bottom: 20px; }

.l-sub {
  width: 26%;
  box-sizing: border-box;
  padding-left: 1%; }
  @media screen and (max-width: 1366px) {
    .l-sub {
      width: 51%;
      padding-left: 0; } }
  @media screen and (max-width: 768px) {
    .l-sub {
      width: 65%;
      padding-left: 0; } }
  @media screen and (max-width: 540px) {
    .l-sub {
      width: 100%;
      padding-left: 0; } }

.c-btn {
  font-size: 18px;
  box-sizing: border-box;
  border: none;
  text-align: center;
  border-radius: 5px;
  font-family: "Zen Kaku Gothic Antique"; }
  .c-btn:hover {
    cursor: pointer; }
  .c-btn--active {
    background-color: #8d001d;
    color: #e2dbbd;
    padding: 7px 15px; }
  .c-btn--inactive {
    color: #759488;
    border: 2px dashed #759488;
    background-color: #e2dbbd;
    padding: 4px 15px; }
  .c-btn--l {
    width: 100%; }
  .c-btn--m {
    width: 45%; }
  .c-btn--s {
    width: calc(80% / 3); }

.c-check-num.err {
  color: #f00; }

.c-checkboxform {
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0 15px 0 0;
  vertical-align: middle;
  position: relative; }
  .c-checkboxform:hover {
    cursor: pointer; }
  .c-checkboxform::before {
    content: "";
    display: block;
    position: absolute;
    background-color: #e2dbbd;
    border-radius: 2px;
    border: 1px solid #759488;
    width: 13px;
    height: 13px;
    transform: translateY(-50%);
    top: -2px;
    left: -1px; }
  .c-checkboxform::after {
    content: "";
    display: block;
    position: absolute;
    border-bottom: 3px solid #8d001d;
    border-left: 3px solid #8d001d;
    opacity: 0;
    height: 3px;
    width: 8px;
    transform: rotate(-45deg);
    top: -6px;
    left: 1px; }
  .c-checkboxform:checked::after {
    opacity: 1; }
  .c-checkboxform__label:hover {
    cursor: pointer; }

.c-choice-cmd {
  display: inline-block;
  border: none;
  background-color: transparent;
  padding: 0;
  color: #8d001d; }
  .c-choice-cmd:hover {
    text-decoration: underline;
    cursor: pointer;
    text-decoration-color: #759488;
    text-decoration-thickness: 2px; }
  .c-choice-cmd:active {
    color: #759488;
    text-decoration: none; }

.c-confirm-msg {
  text-align: center; }

@media screen and (max-width: 540px) {
  .c-content-attr {
    font-size: 14px; } }

.c-content-panel {
  border: 1px solid #8d001d;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 9px 2% 5px 2%; }
  @media screen and (max-width: 1366px) {
    .c-content-panel {
      padding: 9px 1% 5px 1%; } }
  @media screen and (max-width: 768px) {
    .c-content-panel {
      padding: 9px 2% 5px 2%; } }
  @media screen and (max-width: 540px) {
    .c-content-panel {
      padding: 9px 2% 5px 2%; } }
  .c-content-panel__checkbox {
    background: none;
    border: none;
    border-radius: 0;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0 15px 0 0;
    vertical-align: middle;
    position: absolute;
    z-index: 1; }
    .c-content-panel__checkbox:hover {
      cursor: pointer; }
    .c-content-panel__checkbox::before {
      content: "";
      display: block;
      position: absolute;
      background-color: #e2dbbd;
      border-radius: 2px;
      border: 1px solid #759488;
      width: 24px;
      height: 24px;
      transform: translateY(-50%);
      top: -2px;
      left: -1px; }
    .c-content-panel__checkbox::after {
      content: "";
      display: block;
      position: absolute;
      border-bottom: 3px solid #8d001d;
      border-left: 3px solid #8d001d;
      opacity: 0;
      height: 8px;
      width: 17px;
      transform: rotate(-45deg);
      top: -11px;
      left: 2px; }
    .c-content-panel__checkbox:checked::after {
      opacity: 1; }
  .c-content-panel__title {
    font-size: 14px; }
  .c-content-panel__title-link {
    color: #8d001d; }
    .c-content-panel__title-link:hover {
      text-decoration: underline; }
    .c-content-panel__title-link:active {
      color: #759488;
      text-decoration: none; }
  .c-content-panel__table {
    font-size: 12px; }

.c-datetimelocalform {
  box-sizing: border-box;
  font-size: 18px;
  padding: 5px 10px;
  height: 40px;
  background-color: #e2dbbd;
  border: 1px solid #759488;
  border-radius: 5px;
  color: #8d001d;
  font-family: "PT Sans", "Zen Kaku Gothic Antique", sans-serif; }
  .c-datetimelocalform:focus {
    border: 2px solid #8d001d;
    outline: 0; }
  .c-datetimelocalform::-webkit-input-placeholder {
    color: #759488;
    font-family: "PT Sans", "Zen Kaku Gothic Antique", sans-serif; }
  .c-datetimelocalform:-moz-placeholder {
    color: #759488;
    font-family: "PT Sans", "Zen Kaku Gothic Antique", sans-serif; }
  .c-datetimelocalform::-moz-placeholder {
    color: #759488;
    font-family: "PT Sans", "Zen Kaku Gothic Antique", sans-serif; }
  .c-datetimelocalform:-ms-input-placeholder {
    color: #759488;
    font-family: "PT Sans", "Zen Kaku Gothic Antique", sans-serif; }

.c-err-input {
  background-color: rgba(255, 0, 0, 0.5); }

.c-err-msg {
  color: #f00; }

.c-fileform {
  opacity: 0; }

.c-fonticon--active-star {
  color: #ffba00; }
  .c-fonticon--active-star-half {
    position: absolute; }
    .c-fonticon--active-star-half::before {
      overflow: hidden;
      position: absolute;
      left: 0;
      top: 2.5px;
      width: 9px;
      color: #ffba00; }

.c-fonticon--active-fav {
  color: #ff0055; }

.c-fonticon--inactive-fav {
  transition: all 1s;
  animation: bounce 1s ease-out infinite; }

@keyframes bounce {
  0% {
    transform: translateY(0) scaleX(1) scaleY(1); }
  25% {
    transform: translateY(-2.5px) scaleX(1) scaleY(1.1); }
  50% {
    transform: translateY(-2.5px) scaleX(1) scaleY(1.2); }
  75% {
    transform: translateY(2.5px) scaleX(1) scaleY(1.1); }
  100% {
    transform: translateY(2.5px) scaleX(1) scaleY(1); } }

.c-fonticon--active-good {
  color: #ff0055; }

.c-fonticon--hide-star {
  display: none !important; }

.c-form-label {
  display: block; }

.c-form-text {
  font-size: 14px; }

.c-menu-link {
  display: inline-block; }
  @media screen and (max-width: 540px) {
    .c-menu-link--sidebar {
      font-size: 14px; } }
  .c-menu-link__link {
    color: #8d001d; }
    .c-menu-link__link:hover {
      text-decoration: underline;
      text-decoration-color: #759488;
      text-decoration-thickness: 2px; }
    .c-menu-link__link:active {
      color: #759488;
      text-decoration: none; }

.c-numberform {
  box-sizing: border-box;
  font-size: 18px;
  padding: 5px 10px;
  height: 40px;
  background-color: #e2dbbd;
  border: 1px solid #759488;
  border-radius: 5px;
  color: #8d001d;
  font-family: "PT Sans", "Zen Kaku Gothic Antique", sans-serif; }
  .c-numberform:focus {
    border: 2px solid #8d001d;
    outline: 0; }
  .c-numberform::-webkit-input-placeholder {
    color: #759488;
    font-family: "PT Sans", "Zen Kaku Gothic Antique", sans-serif; }
  .c-numberform:-moz-placeholder {
    color: #759488;
    font-family: "PT Sans", "Zen Kaku Gothic Antique", sans-serif; }
  .c-numberform::-moz-placeholder {
    color: #759488;
    font-family: "PT Sans", "Zen Kaku Gothic Antique", sans-serif; }
  .c-numberform:-ms-input-placeholder {
    color: #759488;
    font-family: "PT Sans", "Zen Kaku Gothic Antique", sans-serif; }

.c-page-title {
  color: #8d001d;
  text-align: center; }

.c-page {
  padding: 2.5px 5px; }
  .c-page--active {
    background-color: #8d001d; }
  .c-page__link {
    color: #8d001d;
    display: block; }
    .c-page__link--active {
      color: #e2dbbd; }

.c-passwordform {
  background-color: #e2dbbd;
  border: 1px solid #759488;
  border-radius: 5px;
  height: 40px;
  color: #8d001d;
  font-family: "PT Sans", sans-serif, "Zen Kaku Gothic Antique";
  box-sizing: border-box;
  font-size: 18px;
  padding: 5px 30px 5px 10px; }
  .c-passwordform:focus {
    border: 2px solid #8d001d;
    outline: 0; }
  .c-passwordform::-webkit-input-placeholder {
    color: #759488;
    font-family: "PT Sans", "Zen Kaku Gothic Antique", sans-serif; }
  .c-passwordform:-moz-placeholder {
    color: #759488;
    font-family: "PT Sans", "Zen Kaku Gothic Antique", sans-serif; }
  .c-passwordform::-moz-placeholder {
    color: #759488;
    font-family: "PT Sans", "Zen Kaku Gothic Antique", sans-serif; }
  .c-passwordform:-ms-input-placeholder {
    color: #759488;
    font-family: "PT Sans", "Zen Kaku Gothic Antique", sans-serif; }

.c-radioform {
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 100px;
  position: relative;
  vertical-align: sub;
  margin-right: 10px; }
  @media screen and (max-width: 540px) {
    .c-radioform {
      margin-right: initial; } }
  .c-radioform:hover {
    cursor: pointer; }
  .c-radioform::before {
    content: "";
    display: block;
    border-radius: 50%;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    background-color: #e2dbbd;
    border: 1px solid #759488;
    height: 16px;
    width: 16px;
    left: 0px; }
  .c-radioform::after {
    content: "";
    display: block;
    border-radius: 50%;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    background-color: #8d001d;
    opacity: 0;
    height: 12px;
    width: 12px;
    left: 3px; }
  .c-radioform:checked::after {
    opacity: 1; }
  .c-radioform__label:hover {
    cursor: pointer; }

.c-search-result {
  text-align: center; }

.c-selectform {
  box-sizing: border-box;
  font-size: 18px;
  padding: 5px 10px;
  height: 40px;
  background-color: #e2dbbd;
  border: 1px solid #759488;
  border-radius: 5px;
  color: #8d001d;
  font-family: "PT Sans", "Zen Kaku Gothic Antique", sans-serif; }
  .c-selectform:focus {
    border: 2px solid #8d001d;
    outline: 0; }
  .c-selectform:hover {
    cursor: pointer; }

.c-side-menu-label {
  padding: 5px;
  background-color: #8d001d; }
  .c-side-menu-label__title {
    color: #e2dbbd;
    padding-left: 45px; }
    @media screen and (max-width: 1366px) {
      .c-side-menu-label__title {
        padding-left: 0;
        text-align: center; } }
    @media screen and (max-width: 768px) {
      .c-side-menu-label__title {
        padding-left: 0;
        text-align: center; } }
    @media screen and (max-width: 540px) {
      .c-side-menu-label__title {
        padding-left: 0;
        text-align: center; } }

.c-success-msg {
  position: absolute;
  z-index: 0;
  padding: 25px 50px;
  background-color: #8d001d;
  color: #e2dbbd;
  border-radius: 5px;
  opacity: 0;
  box-shadow: 0 1px 30px #759488;
  transition: all 2s ease-in; }
  .c-success-msg.active {
    z-index: 3;
    opacity: 1;
    box-shadow: 0 5px 10px #759488;
    transition: all 2s ease-out; }

.c-textarea {
  box-sizing: border-box;
  font-size: 18px;
  padding: 5px 10px;
  background-color: #e2dbbd;
  border: 1px solid #759488;
  border-radius: 5px;
  color: #8d001d;
  font-family: "PT Sans", sans-serif, "Zen Kaku Gothic Antique"; }
  .c-textarea:focus {
    border: 2px solid #8d001d;
    outline: 0; }
  .c-textarea::-webkit-input-placeholder {
    color: #759488;
    font-family: "PT Sans", "Zen Kaku Gothic Antique", sans-serif; }
  .c-textarea:-moz-placeholder {
    color: #759488;
    font-family: "PT Sans", "Zen Kaku Gothic Antique", sans-serif; }
  .c-textarea::-moz-placeholder {
    color: #759488;
    font-family: "PT Sans", "Zen Kaku Gothic Antique", sans-serif; }
  .c-textarea:-ms-input-placeholder {
    color: #759488;
    font-family: "PT Sans", "Zen Kaku Gothic Antique", sans-serif; }
  .c-textarea.err {
    background-color: rgba(255, 0, 0, 0.5); }
  .c-textarea--s {
    height: 130px;
    min-height: 130px;
    max-height: 250px; }
  .c-textarea--m {
    height: 250px;
    min-height: 250px;
    max-height: 500px; }
  .c-textarea--l {
    height: 500px;
    min-height: 500px;
    max-height: 1365px; }

.c-textform {
  background-color: #e2dbbd;
  border: 1px solid #759488;
  border-radius: 5px;
  color: #8d001d;
  font-family: "PT Sans", sans-serif, "Zen Kaku Gothic Antique";
  box-sizing: border-box;
  font-size: 18px;
  padding: 5px 10px;
  height: 40px; }
  .c-textform:focus {
    border: 2px solid #8d001d;
    outline: 0; }
  .c-textform::-webkit-input-placeholder {
    color: #759488;
    font-family: "PT Sans", "Zen Kaku Gothic Antique", sans-serif; }
  .c-textform:-moz-placeholder {
    color: #759488;
    font-family: "PT Sans", "Zen Kaku Gothic Antique", sans-serif; }
  .c-textform::-moz-placeholder {
    color: #759488;
    font-family: "PT Sans", "Zen Kaku Gothic Antique", sans-serif; }
  .c-textform:-ms-input-placeholder {
    color: #759488;
    font-family: "PT Sans", "Zen Kaku Gothic Antique", sans-serif; }

.p-admin-inquiry__memoform {
  margin-bottom: 20px; }

.p-admin-inquiry__history {
  margin-bottom: 20px; }

.p-admin-inquiry__heading {
  margin-bottom: 20px; }

.p-admin-inquiry__memo {
  margin-bottom: 20px; }

.p-admin-inquiry__textarea {
  width: 100%; }

.p-admin-inquiry__confirm-text {
  border: 1px solid #8d001d;
  border-radius: 5px;
  padding: 5px 10px;
  box-sizing: border-box; }

.p-admin-inquiry__cmd {
  font-size: 16px; }

.p-content-comment {
  margin-bottom: 30px; }
  .p-content-comment__sub-heading {
    margin-bottom: 20px; }
  .p-content-comment__comment-row {
    margin-bottom: 20px; }
  .p-content-comment__comment-wrapper {
    border: 1px solid #8d001d;
    border-radius: 5px;
    padding: 5px 10px;
    box-sizing: border-box; }
  .p-content-comment__confirm-text {
    margin-bottom: 15px; }
  .p-content-comment__record-info {
    margin-right: 10px; }
  .p-content-comment__cmd-wrapper {
    display: flex;
    justify-content: space-between; }
  .p-content-comment__cmd {
    font-size: 16px; }
  .p-content-comment__num-info {
    margin-left: 5px; }
  .p-content-comment__score-wrapper {
    display: flex;
    align-items: center; }

.p-content-confirm__confirm-msg {
  margin-bottom: 30px; }

.p-content-confirm__confirm-row {
  margin-bottom: 20px; }

.p-content-confirm__confirm-text br {
  display: none; }
  @media screen and (max-width: 768px) {
    .p-content-confirm__confirm-text br {
      display: inline; } }
  @media screen and (max-width: 540px) {
    .p-content-confirm__confirm-text br {
      display: inline; } }

.p-content-confirm__confirm-category {
  margin-right: 20px; }

.p-content-confirm__img {
  width: 100%; }

.p-content-confirm__btn-wrapper {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  @media screen and (max-width: 1366px) {
    .p-content-confirm__btn-wrapper {
      align-content: space-between;
      height: 108px; } }
  @media screen and (max-width: 768px) {
    .p-content-confirm__btn-wrapper {
      align-content: space-between;
      height: 108px; } }
  @media screen and (max-width: 540px) {
    .p-content-confirm__btn-wrapper {
      align-content: space-between;
      height: 108px; } }

.p-content-confirm__btn {
  width: calc(80% / 3); }
  @media screen and (max-width: 768px) {
    .p-content-confirm__btn {
      width: 65%; } }
  @media screen and (max-width: 540px) {
    .p-content-confirm__btn {
      width: 100%; } }

.p-content-detail {
  display: flex;
  flex-wrap: wrap; }
  .p-content-detail__img-area {
    width: 45%;
    margin-right: 3%; }
    @media screen and (max-width: 768px) {
      .p-content-detail__img-area {
        margin-right: 0;
        margin-bottom: 15px;
        width: 100%; } }
    @media screen and (max-width: 540px) {
      .p-content-detail__img-area {
        margin-right: 0;
        margin-bottom: 15px;
        width: 100%; } }
  .p-content-detail__main-img-wrapper {
    display: flex;
    height: 624px;
    align-items: flex-start; }
    @media screen and (max-width: 1366px) {
      .p-content-detail__main-img-wrapper {
        height: 626px; } }
    @media screen and (max-width: 768px) {
      .p-content-detail__main-img-wrapper {
        height: initial;
        max-height: 1021px; } }
    @media screen and (max-width: 540px) {
      .p-content-detail__main-img-wrapper {
        height: initial;
        max-height: 688px; } }
  .p-content-detail__main-img {
    max-width: 100%;
    max-height: 100%; }
  .p-content-detail__sub-img-area {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px; }
  .p-content-detail__sub-img-wrapper {
    width: 30%;
    box-sizing: border-box;
    padding: 2%;
    display: flex;
    align-items: center;
    border: 1px solid #8d001d;
    border-radius: 5px;
    max-height: 231px; }
    @media screen and (max-width: 1366px) {
      .p-content-detail__sub-img-wrapper {
        max-height: 248px; } }
    @media screen and (max-width: 768px) {
      .p-content-detail__sub-img-wrapper {
        max-height: 263px; } }
    @media screen and (max-width: 540px) {
      .p-content-detail__sub-img-wrapper {
        max-height: 176px; } }
  .p-content-detail__sub-img {
    width: 100%; }
  .p-content-detail__info-area {
    width: 52%; }
    @media screen and (max-width: 768px) {
      .p-content-detail__info-area {
        width: 100%;
        padding-top: 0; } }
    @media screen and (max-width: 540px) {
      .p-content-detail__info-area {
        width: 100%;
        padding-top: 0; } }
  .p-content-detail__table {
    margin-bottom: 20px;
    width: 100%;
    border-spacing: 0 15px; }
  .p-content-detail__table-row {
    vertical-align: top; }
  .p-content-detail__table-key {
    width: 92px;
    font-weight: bold; }
  .p-content-detail__table-value br {
    display: none; }
    @media screen and (max-width: 768px) {
      .p-content-detail__table-value br {
        display: inline; } }
    @media screen and (max-width: 540px) {
      .p-content-detail__table-value br {
        display: inline; } }
  .p-content-detail__table-value-link {
    color: #8d001d; }
    .p-content-detail__table-value-link:hover {
      text-decoration: underline;
      text-decoration-color: #759488;
      text-decoration-thickness: 2px; }
    .p-content-detail__table-value-link:active {
      color: #759488;
      text-decoration: none; }
  .p-content-detail__table-value-links {
    margin-right: 5px;
    color: #8d001d; }
    .p-content-detail__table-value-links:hover {
      text-decoration: underline;
      text-decoration-color: #759488;
      text-decoration-thickness: 2px; }
    .p-content-detail__table-value-links:active {
      color: #759488;
      text-decoration: none; }
    @media screen and (max-width: 768px) {
      .p-content-detail__table-value-links {
        margin-right: 0; } }
    @media screen and (max-width: 540px) {
      .p-content-detail__table-value-links {
        margin-right: 0; } }

.p-content-form__form-row {
  margin-bottom: 20px; }

.p-content-form__textform {
  width: 100%; }

.p-content-form__textarea {
  width: 100%; }

.p-content-form__selectform {
  width: 100%; }

.p-content-form__numberform {
  width: 100%; }

.p-content-form__datetimelocalform {
  width: 100%; }

.p-content-form__form-label br {
  display: none; }
  @media screen and (max-width: 768px) {
    .p-content-form__form-label br {
      display: inline; } }
  @media screen and (max-width: 540px) {
    .p-content-form__form-label br {
      display: inline; } }

.p-content-form__checkboxes {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start; }

.p-content-form__box-wrapper {
  margin-right: 10px; }

.p-content-form__img-form-wrapper {
  margin-top: 20px; }

.p-content-form__img-label {
  width: 100%;
  height: 915px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px dashed #759488; }
  @media screen and (max-width: 1366px) {
    .p-content-form__img-label {
      height: 89.7vw; } }
  @media screen and (max-width: 768px) {
    .p-content-form__img-label {
      height: 94.4vw; } }
  @media screen and (max-width: 540px) {
    .p-content-form__img-label {
      height: 109.5vw; } }

.p-content-form__fileform {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1; }

.p-content-form__img {
  width: 100%;
  max-height: 100%;
  position: absolute; }

.p-content-form__btn-wrapper {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  @media screen and (max-width: 540px) {
    .p-content-form__btn-wrapper {
      height: initial;
      margin-top: initial; } }

.p-content-form__btn {
  width: calc(80% / 3);
  padding: 7px 0; }
  @media screen and (max-width: 540px) {
    .p-content-form__btn {
      width: 100%;
      margin-top: 20px; }
      .p-content-form__btn:first-child {
        margin-top: 0; } }

.p-content-header {
  margin-bottom: 20px; }
  .p-content-header__element {
    margin-right: 10px; }
    .p-content-header__element:last-child {
      margin-right: 0; }
  .p-content-header__icon-wrapper {
    margin-right: 5px; }
  .p-content-header__sub-heading {
    margin-top: 10px;
    margin-bottom: 10px; }
  .p-content-header__attr-area {
    display: flex;
    flex-wrap: wrap; }
  .p-content-header__content-attr {
    margin-right: 20px;
    display: flex;
    flex-wrap: wrap; }
    .p-content-header__content-attr:last-child {
      margin-right: 0; }
  .p-content-header__link {
    color: #8d001d; }
    .p-content-header__link:hover {
      text-decoration: underline;
      text-decoration-color: #759488;
      text-decoration-thickness: 2px; }
    .p-content-header__link:active {
      color: #759488;
      text-decoration: none; }
  .p-content-header__links {
    margin-right: 5px;
    color: #8d001d; }
    .p-content-header__links:hover {
      text-decoration: underline;
      text-decoration-color: #759488;
      text-decoration-thickness: 2px; }
    .p-content-header__links:active {
      color: #759488;
      text-decoration: none; }
    @media screen and (max-width: 768px) {
      .p-content-header__links {
        margin-right: 0; } }
    @media screen and (max-width: 540px) {
      .p-content-header__links {
        margin-right: 0; } }

.p-content-rating {
  margin-bottom: 20px; }
  .p-content-rating__wrapper {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .p-content-rating__score-range {
    width: calc(97% - 46.5px);
    appearance: none;
    -webkit-appearance: none;
    height: 20px; }
    .p-content-rating__score-range:hover {
      cursor: pointer; }
    .p-content-rating__score-range::-webkit-slider-thumb {
      appearance: none;
      -webkit-appearance: none;
      height: 20px;
      width: 20px;
      border-radius: 5px;
      background-color: #8d001d; }
    .p-content-rating__score-range::-webkit-slider-runnable-track {
      background-color: #e2dbbd;
      border: 1px solid #759488;
      border-radius: 5px; }
  .p-content-rating__score {
    display: inline-block;
    width: 46.5px;
    font-size: 36px;
    text-align: right; }
  .p-content-rating__textarea {
    width: 100%; }
  .p-content-rating__comment-btn {
    display: block; }

.p-found-content {
  display: flex;
  flex-wrap: wrap;
  margin-right: -1%; }
  @media screen and (max-width: 1366px) {
    .p-found-content {
      box-sizing: border-box; } }
  @media screen and (max-width: 768px) {
    .p-found-content {
      box-sizing: border-box; } }
  @media screen and (max-width: 540px) {
    .p-found-content {
      box-sizing: border-box;
      margin-right: 0;
      justify-content: space-between; } }
  .p-found-content__content-panel {
    width: 24%;
    height: 395px;
    margin-right: 1%;
    margin-bottom: 10px; }
    @media screen and (max-width: 1366px) {
      .p-found-content__content-panel {
        height: auto; } }
    @media screen and (max-width: 768px) {
      .p-found-content__content-panel {
        width: 32%;
        height: auto; } }
    @media screen and (max-width: 540px) {
      .p-found-content__content-panel {
        width: 49%;
        height: auto;
        margin-right: 0; } }
  .p-found-content__img-wrapper {
    height: 202px; }
    @media screen and (max-width: 1366px) {
      .p-found-content__img-wrapper {
        height: 30.1vw; } }
    @media screen and (max-width: 768px) {
      .p-found-content__img-wrapper {
        height: 37.3vw; } }
    @media screen and (max-width: 540px) {
      .p-found-content__img-wrapper {
        height: 57.3vw; } }
  .p-found-content__img-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center; }
  .p-found-content__img {
    width: 100%;
    max-height: 100%;
    vertical-align: bottom; }
  .p-found-content__checkbox {
    top: 16px;
    left: 1px; }
    @media screen and (max-width: 1366px) {
      .p-found-content__checkbox {
        top: 15px; } }
    @media screen and (max-width: 768px) {
      .p-found-content__checkbox {
        top: 15px; } }
    @media screen and (max-width: 540px) {
      .p-found-content__checkbox {
        top: 15px; } }
  .p-found-content__title {
    margin-top: 10px;
    margin-bottom: 5px;
    height: 63px; }
  .p-found-content__table {
    width: 100%; }
  .p-found-content__left-cell {
    width: 25%;
    text-align: center; }
  .p-found-content__right-cell {
    width: 75%;
    text-align: center; }
  .p-found-content__cmd {
    font-size: 12px; }

@media screen and (max-width: 1366px) {
  .p-found-record {
    width: 51%;
    margin-left: auto;
    margin-right: auto; } }

@media screen and (max-width: 768px) {
  .p-found-record {
    width: 65%;
    margin-left: auto;
    margin-right: auto; } }

@media screen and (max-width: 540px) {
  .p-found-record {
    width: 100%;
    margin-left: auto;
    margin-right: auto; } }

.p-found-record__cmd-wrapper {
  margin-bottom: 15px; }

.p-found-record__choice-cmd {
  font-size: 16px; }

.p-found-record__check-num {
  display: none; }

.p-found-record__add-form {
  margin-bottom: 15px; }

.p-found-record__record-row {
  margin-bottom: 10px; }

.p-found-record__record-info {
  margin-right: 20px; }

.p-found-record__notice {
  color: #f00; }

.p-found-record__textform {
  width: 40%;
  display: block; }
  @media screen and (max-width: 768px) {
    .p-found-record__textform {
      width: 65%; } }
  @media screen and (max-width: 540px) {
    .p-found-record__textform {
      width: 100%; } }

.p-found-record__btn {
  width: 40%;
  display: block;
  height: 40px;
  font-size: 16px;
  box-sizing: border-box;
  padding: 5px 10px; }
  @media screen and (max-width: 768px) {
    .p-found-record__btn {
      width: 65%; } }
  @media screen and (max-width: 540px) {
    .p-found-record__btn {
      width: 100%; } }

.p-found-record__cmd {
  font-size: 16px; }

.p-found-record__form-wrapper {
  display: none; }

.p-found-record__record-link {
  color: #8d001d; }
  .p-found-record__record-link:hover {
    text-decoration: underline;
    text-decoration-color: #759488;
    text-decoration-thickness: 2px; }
  .p-found-record__record-link:active {
    color: #759488;
    text-decoration: none; }

.p-inquiry-confirm__confirm-row {
  margin-bottom: 20px; }

.p-login-form {
  box-sizing: border-box;
  padding: 8% 18%;
  border: 1px solid #8d001d;
  border-radius: 5px; }
  @media screen and (max-width: 1366px) {
    .p-login-form {
      padding: 8% 13%; } }
  @media screen and (max-width: 768px) {
    .p-login-form {
      padding: 8% 13%; } }
  @media screen and (max-width: 540px) {
    .p-login-form {
      padding: 8% 13%; } }
  .p-login-form__form-row {
    margin-bottom: 20px; }
    .p-login-form__form-row:nth-of-type(3) {
      margin-bottom: 30px; }
  .p-login-form__textform {
    width: 100%; }
  .p-login-form__passwordform {
    width: 100%;
    padding-right: 28px; }
  .p-login-form__confirm-msg {
    margin-bottom: 20px; }
  .p-login-form__btn {
    display: block; }
  .p-login-form__text-wrapper {
    text-align: center;
    margin-top: 20px; }
    @media screen and (max-width: 1366px) {
      .p-login-form__text-wrapper {
        margin-top: 10px; } }
    @media screen and (max-width: 768px) {
      .p-login-form__text-wrapper {
        margin-top: 10px; } }
    @media screen and (max-width: 540px) {
      .p-login-form__text-wrapper {
        margin-top: 10px; } }
  .p-login-form__link {
    color: #8d001d; }
    .p-login-form__link:hover {
      text-decoration: underline;
      text-decoration-color: #759488;
      text-decoration-thickness: 2px; }
    .p-login-form__link:active {
      color: #759488;
      text-decoration: none; }
  .p-login-form__passform-wrapper {
    position: relative; }
  .p-login-form__fonticon {
    position: absolute;
    top: 12px;
    right: 11px; }
    .p-login-form__fonticon:hover {
      cursor: pointer; }

.p-member-confirm {
  box-sizing: border-box;
  padding: 8% 7%;
  border: 1px solid #8d001d;
  border-radius: 5px; }
  .p-member-confirm__confirm-msg {
    margin-bottom: 20px; }
  .p-member-confirm__form-row {
    margin-bottom: 20px; }
  .p-member-confirm__btn-wrapper {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }

.p-member-form {
  box-sizing: border-box;
  padding: 8% 7%;
  border: 1px solid #8d001d;
  border-radius: 5px; }
  .p-member-form__form-row {
    margin-bottom: 20px; }
  .p-member-form__textform {
    width: 100%; }
  .p-member-form__textarea {
    width: 100%; }
  .p-member-form__selectform {
    width: 100%; }
  .p-member-form__passwordform {
    width: 100%; }
  .p-member-form__confirm-msg {
    margin-bottom: 20px; }
  .p-member-form__radio-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; }
  .p-member-form__btn-wrapper {
    margin-top: 30px;
    display: flex;
    justify-content: space-between; }
  .p-member-form__passform-wrapper {
    position: relative; }
  .p-member-form__fonticon {
    position: absolute;
    top: 12px;
    right: 11px; }
    .p-member-form__fonticon:hover {
      cursor: pointer; }

.p-menu-page {
  box-sizing: border-box;
  padding: 5% 7%;
  border: 1px solid #8d001d;
  border-radius: 5px; }
  @media screen and (max-width: 1366px) {
    .p-menu-page {
      padding-left: 10%;
      padding-right: 10%; } }
  @media screen and (max-width: 768px) {
    .p-menu-page {
      padding-left: 10%;
      padding-right: 10%; } }
  @media screen and (max-width: 540px) {
    .p-menu-page {
      padding-left: 10%;
      padding-right: 10%; } }
  .p-menu-page__lists {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-between;
    height: 120px; }
    @media screen and (max-width: 1366px) {
      .p-menu-page__lists {
        height: 150px;
        justify-content: space-between; } }
    @media screen and (max-width: 768px) {
      .p-menu-page__lists {
        height: 150px;
        justify-content: space-between; } }
    @media screen and (max-width: 540px) {
      .p-menu-page__lists {
        height: 150px;
        justify-content: space-between; } }
  .p-menu-page__menu-link {
    min-width: 112px; }

.p-modal {
  position: relative; }
  .p-modal__modal-back {
    display: none;
    z-index: 4;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #8d001d; }
  .p-modal__modal-window {
    display: none;
    z-index: 5;
    position: absolute;
    padding: 20px;
    background-color: #e2dbbd;
    box-sizing: border-box;
    border-radius: 5px; }
    @media screen and (max-width: 768px) {
      .p-modal__modal-window {
        width: 90%; } }
    @media screen and (max-width: 540px) {
      .p-modal__modal-window {
        width: 90%; } }
  .p-modal__sub-heading {
    margin-bottom: 20px;
    text-align: center; }
    @media screen and (max-width: 540px) {
      .p-modal__sub-heading {
        font-size: 20px;
        margin-bottom: 10px; } }
  .p-modal__fonticon {
    position: absolute;
    top: 17px;
    right: 30px;
    font-size: 40px;
    color: #f00; }
    .p-modal__fonticon:hover {
      cursor: pointer; }
    @media screen and (max-width: 540px) {
      .p-modal__fonticon {
        top: 15px;
        font-size: 35px; } }

.p-mypage-top {
  width: 73%;
  margin-bottom: 20px;
  text-align: center; }
  @media screen and (max-width: 1366px) {
    .p-mypage-top {
      width: 100%; } }
  @media screen and (max-width: 768px) {
    .p-mypage-top {
      width: 100%; } }
  @media screen and (max-width: 540px) {
    .p-mypage-top {
      width: 100%; } }
  .p-mypage-top__search-result {
    margin-bottom: 10px; }
  .p-mypage-top__link {
    color: #8d001d; }
    .p-mypage-top__link:hover {
      text-decoration: underline;
      text-decoration-color: #759488;
      text-decoration-thickness: 2px; }
    .p-mypage-top__link:active {
      color: #759488;
      text-decoration: none; }

.p-pagenation {
  margin-top: 30px; }
  .p-pagenation__pagelist {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    @media screen and (max-width: 540px) {
      .p-pagenation__pagelist {
        flex-direction: column; } }
  .p-pagenation__prev-wrapper {
    display: flex; }
    @media screen and (max-width: 540px) {
      .p-pagenation__prev-wrapper {
        justify-content: flex-start; }
        .p-pagenation__prev-wrapper .p-pagenation__page:last-child {
          margin-right: 0; } }
  .p-pagenation__number-wrapper {
    display: flex; }
    @media screen and (max-width: 540px) {
      .p-pagenation__number-wrapper {
        justify-content: center; }
        .p-pagenation__number-wrapper .p-pagenation__page:last-child {
          margin-right: 0; } }
  .p-pagenation__next-wrapper {
    display: flex; }
    @media screen and (max-width: 540px) {
      .p-pagenation__next-wrapper {
        justify-content: flex-end; } }
    .p-pagenation__next-wrapper .p-pagenation__page:last-child {
      margin-right: 0; }
  .p-pagenation__page {
    margin-right: 15px; }

.p-search-menu {
  width: 500px;
  box-sizing: border-box;
  padding: 0 20px 10px 20px; }
  @media screen and (max-width: 768px) {
    .p-search-menu {
      width: 100%;
      overflow-y: auto; } }
  @media screen and (max-width: 540px) {
    .p-search-menu {
      width: 100%;
      overflow-y: auto; } }
  .p-search-menu__search-row {
    margin-bottom: 15px; }
    .p-search-menu__search-row:nth-of-type(1) {
      margin-top: 20px; }
    @media screen and (max-width: 540px) {
      .p-search-menu__search-row {
        margin-bottom: 5px; }
        .p-search-menu__search-row:nth-of-type(1) {
          margin-top: 10px; } }
  .p-search-menu__form-label {
    font-size: 14px; }
  .p-search-menu__textform {
    width: 100%;
    padding: 2px 5px;
    height: initial;
    font-size: 16px; }
  .p-search-menu__selectform {
    width: 100%;
    padding: 2px 5px;
    height: initial;
    font-size: 16px; }
  .p-search-menu__datetimelocalform {
    width: 100%;
    padding: 2px 5px;
    height: initial;
    font-size: 16px; }
  @media screen and (max-width: 540px) {
    .p-search-menu__radio-label {
      font-size: 12px; } }
  .p-search-menu__btn {
    display: block;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 16px;
    height: 31px; }
    @media screen and (max-width: 540px) {
      .p-search-menu__btn:last-child {
        margin-top: 15px; } }
  .p-search-menu__checkboxes {
    display: flex;
    flex-wrap: wrap;
    padding: 5px 5px 5px 15px;
    border: 1px solid #759488;
    overflow-y: auto;
    height: 120px;
    box-sizing: border-box;
    border-radius: 5px; }
  .p-search-menu__box-wrapper {
    margin-right: 15px; }
  .p-search-menu__radio-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around; }
  .p-search-menu__checkbox-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; }

.p-search-top {
  width: 73%;
  margin-bottom: 20px;
  text-align: center; }
  @media screen and (max-width: 1366px) {
    .p-search-top {
      width: 100%; } }
  @media screen and (max-width: 768px) {
    .p-search-top {
      width: 100%; } }
  @media screen and (max-width: 540px) {
    .p-search-top {
      width: 100%; } }
  .p-search-top__page-title {
    margin-bottom: 30px; }
  .p-search-top__search-result {
    margin-bottom: 10px; }
    .p-search-top__search-result br {
      display: none; }
    @media screen and (max-width: 540px) {
      .p-search-top__search-result span {
        display: none; }
      .p-search-top__search-result br {
        display: inline; } }
  .p-search-top__search-option {
    display: inline-block; }
    .p-search-top__search-option:hover {
      cursor: pointer;
      text-decoration: underline; }
  .p-search-top__link {
    color: #8d001d; }
    .p-search-top__link:hover {
      text-decoration: underline;
      text-decoration-color: #759488;
      text-decoration-thickness: 2px; }
    .p-search-top__link:active {
      color: #759488;
      text-decoration: none; }

.p-sidebar {
  border: 1px solid #8d001d;
  border-radius: 5px; }
  .p-sidebar__nav {
    padding: 10px 10px 20px 10px;
    box-sizing: border-box; }
  .p-sidebar__loginform {
    padding: 10px;
    box-sizing: border-box; }
  .p-sidebar__form-row {
    margin-bottom: 20px; }
  .p-sidebar__textform {
    width: 100%; }
  .p-sidebar__passwordform {
    width: 100%; }
  .p-sidebar__btn {
    display: block;
    margin-bottom: 10px; }
  .p-sidebar__lists {
    margin-left: auto;
    margin-right: auto;
    width: 65%; }
    @media screen and (max-width: 1366px) {
      .p-sidebar__lists {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around; } }
    @media screen and (max-width: 768px) {
      .p-sidebar__lists {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around; } }
    @media screen and (max-width: 540px) {
      .p-sidebar__lists {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around; } }
  .p-sidebar__menu-link {
    min-width: 65%; }
    @media screen and (max-width: 1366px) {
      .p-sidebar__menu-link {
        min-width: 170px; } }
    @media screen and (max-width: 768px) {
      .p-sidebar__menu-link {
        min-width: 150px; } }
    @media screen and (max-width: 540px) {
      .p-sidebar__menu-link {
        min-width: 140px; } }
  .p-sidebar__text {
    padding-left: 5px;
    padding-right: 5px;
    text-align: center; }
  .p-sidebar__link {
    color: #8d001d; }
    .p-sidebar__link:hover {
      text-decoration: underline;
      text-decoration-color: #759488;
      text-decoration-thickness: 2px; }
    .p-sidebar__link:active {
      color: #759488;
      text-decoration: none; }
  .p-sidebar__passform-wrapper {
    position: relative; }
  .p-sidebar__fonticon {
    position: absolute;
    top: 12px;
    right: 11px; }
    .p-sidebar__fonticon:hover {
      cursor: pointer; }

.u-hide {
  display: none; }

.u-block {
  display: block; }

.u-margin-r-sm {
  margin-right: 20px; }

.u-margin-t-m {
  margin-top: 30px; }

.u-pos-relative {
  position: relative; }
