.p-content-detail{
  display: flex;
  flex-wrap: wrap;
  &__img-area{
    width: 45%;
    margin-right: 3%;
    @include mq(md){
      margin-right: 0;
      margin-bottom: $space-s;
      width: 100%;
    }
    @include mq(){
      margin-right: 0;
      margin-bottom: $space-s;
      width: 100%;
    }
  }
  &__main-img-wrapper{
    display: flex;
    height: 624px;
    align-items: flex-start;
    @include mq(lg){
      height: 626px;
    }
    @include mq(md){
      height: initial;
      max-height: 1021px;
    }
    @include mq(){
      height: initial;
      max-height: 688px;
    }
  }
  &__main-img{
    max-width: 100%;
    max-height: 100%;
  }
  &__sub-img-area{
    display: flex;
    justify-content: space-between;
    margin-bottom: $space-s;
  }
  &__sub-img-wrapper{
    width: 30%;
    box-sizing: border-box;
    padding: 2%;
    display: flex;
    align-items: center;
    border: 1px solid $color-sub;
    border-radius: 5px;
    max-height: 231px;
    @include mq(lg){
      max-height: 248px;
    }
    @include mq(md){
      max-height: 263px;
    }
    @include mq(){
      max-height: 176px;
    }
  }
  &__sub-img{
    width: 100%;
  }
  &__info-area{
    width: 52%;
    @include mq(md){
      width: 100%;
      padding-top: 0;
    }
    @include mq(){
      width: 100%;
      padding-top: 0;
    }
  }
  &__table{
    margin-bottom: $space-sm;
    width: 100%;
    border-spacing: 0 15px;
  }
  &__table-row{
    vertical-align: top;
  }
  &__table-key{
    width: 92px;
    font-weight: bold;
  }
  &__table-value{
    br{
      display: none;
      @include mq(md){
        display: inline;
      }
      @include mq(){
        display: inline;
      }
    }
    &-link{
      color: $color-sub;
      &:hover{
        text-decoration: underline;
        text-decoration-color: $color-acc;
        text-decoration-thickness: 2px;
      }
      &:active{
        color: $color-acc;
        text-decoration: none;
      }
    }
    &-links{
      margin-right: $space-xxs;
      color: $color-sub;
      &:hover{
        text-decoration: underline;
        text-decoration-color: $color-acc;
        text-decoration-thickness: 2px;
      }
      &:active{
        color: $color-acc;
        text-decoration: none;
      }
      @include mq(md){
        margin-right: 0;
      }
      @include mq(){
        margin-right: 0;
      }
    }
  }
}