.l-col1-form{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  @include mq(lg){
    width: 520px;
  }
  @include mq(md){
    width: 80%;
  }
  @include mq(){
    width: 100%;
    min-width: initial;
  }
  &__page-title{
    padding-left: 13%;
    padding-right: 13%;
    margin-bottom: $space-m;
  }
}